@model IEnumerable<Rikku.Models.MessageModel>
@using Rikku.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
    var receiverId = "";
    var senderId = "";
    var routeId = @ViewContext.RouteData.Values["id"].ToString();
    var png = ".png";
    var jpg = ".jpeg";
    var jpeg = ".jpeg";
}
<div class="row top-margin">
    <div class="col-md-2" style="width:80px;margin:0 auto;padding:0;">
        <img style="border-radius: 50%; height: 80px; width: 80px" src="https://whyappstorage.blob.core.windows.net/images/User-@ViewBag.PictureId@png">
    </div>
</div>
<form method="post" enctype="multipart/form-data">
    <div class="form-group" style="width:100%;">
            <div class="list-group message-container">                        
                @foreach (var message in Model) 
                {
                    @if(@message.SenderId == @user.Id) 
                    {
                        <div class="row" style="margin: 2px 2px 10px 2px;float:right;">
                            <div class="col-sm-12" style="padding:0;">
                                <img style="float: right;border-radius: 50%; height: 30px; width: 30px;margin-left:5px;" src="@user.Picture"><span class="float-right bg-primary text-white" style="width: auto;border-radius: 7px;padding: 1% 2%;">@message.Content</span>
                            </div>
                            <div class="col-sm-12" style="padding:0;">
                                <span style="color: #bdbdbd;height:15px; font-size:10px; float:right;">Sent @message.CreateDate</span>
                            </div>
                        </div>
                    }
                    else 
                    {
                        <div class="row" style="margin: 2px 2px 10px 2px;">
                            <div class="col-sm-12" style="padding:0;">
                                <img style="float: left;border-radius: 50%; height: 30px; width: 30px;margin-right:5px;" src="https://whyappstorage.blob.core.windows.net/images/User-@message.SenderId@png"><span class="float-left bg-success text-white" style="width: auto;border-radius: 7px;padding: 1% 2%;">@message.Content</span>
                            </div>
                            <div class="col-sm-12" style="padding:0;">
                                <span style="color: #bdbdbd;height:15px;font-size:10px;">Sent @message.CreateDate</span>
                            </div>
                        </div>
                    }
                    receiverId = @message.ReceiverId;
                    senderId = @message.SenderId;
                }
            </div>
    </div>
</form>
    @using(Html.BeginForm("SendMessage","Message"))
    {
    <div class="row form-group">
        @if (user.Id == @receiverId)
        {
            <input type="hidden" name="id" value="@senderId" />
        }
        else 
        {
            receiverId = routeId;
            <input type="hidden" name="id" value="@receiverId" />
        }
        <div class="col-md-6 margin-auto">
            <input name="content" class="form-group input-group message-input" placeholder="Type message here..." required/>
            <button class="input-group-button btn btn-primary" style="width:100%;">Send</button>
        </div>
    </div>
    }