@model IEnumerable<Rikku.Models.MessageModel>
@using Rikku.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
    var receiverId = "";
    var senderId = "";
    var routeId = @ViewContext.RouteData.Values["id"].ToString();
    var png = ".png";
}
<div class="row">
    <div class="col-md-2" style="position:fixed;top:60px;text-align:center;background-color: rgba(0,0,0,.9);z-index: 100;">
        <img class="user-img-md" src="https://rikku.blob.core.windows.net/images/User-@ViewBag.PictureId@png">
    </div>
</div>
<form method="post" enctype="multipart/form-data">
    <div class="form-group" style="width:100%;">
            <div id="message-container" class="list-group message-container">                        
                @foreach (var message in Model) 
                {
                    @if(@message.SenderId == @user.Id) 
                    {
                        <div class="row" style="margin: 2px 2px 10px 2px;float:right;">
                            <div class="col-sm-12" style="padding:0;">
                                <img style="float: right;border-radius: 50%; height: 40px; width: 40px;margin-left:5px;" src="@user.Picture"><span class="float-right bg-primary text-white" style="background-color:#1565c0 !important;font-size:16px;width: auto;border-radius: 7px;padding: 1% 2%;">@message.Content</span>
                            </div>
                            <div class="col-sm-12" style="padding:0;">
                                <span style="color: #bdbdbd;height:15px; font-size:10px; float:right;">Sent @message.CreateDate</span>
                            </div>
                        </div>
                    }
                    else 
                    {
                        <div class="row" style="margin: 2px 2px 10px 2px;">
                            <div class="col-sm-12" style="padding:0;">
                                <img style="float: left;border-radius: 50%; height: 40px; width: 40px;margin-right:5px;" src="https://rikku.blob.core.windows.net/images/User-@message.SenderId@png"><span class="float-left bg-success text-white" style="background-color:#558b2f!important;font-size:16px;width: auto;border-radius: 7px;padding: 1% 2%;">@message.Content</span>
                            </div>
                            <div class="col-sm-12" style="padding:0;">
                                <span style="color: #bdbdbd;height:15px;font-size:10px;">Sent @message.CreateDate</span>
                            </div>
                        </div>
                    }
                    receiverId = @message.ReceiverId;
                    senderId = @message.SenderId;
                }
            </div>
    </div>
</form>
    @using(Html.BeginForm("SendMessage","Message"))
    {
    <div class="row form-group">
        @if (user.Id == @receiverId)
        {
            <input type="hidden" name="id" value="@senderId" />
        }
        else 
        {
            receiverId = routeId;
            <input type="hidden" name="id" value="@receiverId" />
        }
        <div class="col-sm-12" style="display:inline-block;position:absolute;bottom:70px;">
            <input id="message-input" name="content" class="form-group input-group message-input" placeholder="Type message here..." required/>
            <button id="send-button" class="input-group-button btn btn-link" style="position:fixed;right:10px;bottom:82px;font-size:20px;color:#ffc107;z-index:100;">Send</button>
        </div>
    </div>
    }
<script>
    //let sender = @senderId;
    //let receiver = @receiverId;
    //let user = @user.Id;
</script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>