@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["ActivePage"] = ManageNavPages.Index;
    var user = await UserManager.GetUserAsync(User); 
}
<partial name="_StatusMessage" for="StatusMessage" />
<form id="profile-form" method="post" enctype="multipart/form-data">
    <div class="row text-center" style="height: 150px;position:relative;">
        <label>
            <img id="img-output-wallpaper" style="height:150px;width:100%;" src="@user.Wallpaper" style="cursor:pointer;">
            <i class="fas fa-camera" title="Change Image" style="color:rgba(255,255,255,.7);cursor:pointer;position:absolute;bottom:3px;right:3px;z-index:200;"></i> 
            <input asp-for="Input.Wallpaper" id="img-input-wallpaper" type="file" accept="image/*" name="wallpaper" style="display:none;" multiple/>
        </label>
        <div class="col-md-4" style="margin: -150px auto 0 auto;">
            <label>
                <img id="img-output-user" class="user-img-lg bottom-margin" src="@user.Picture" title="Picture of you!" style="cursor:pointer;">
                <div class="user-img-overlay">
                    <i class="fas fa-camera" title="Change Image" style="cursor:pointer;"></i> 
                </div>
                <input asp-for="Input.Picture" id="img-input-user" type="file" accept="image/*" name="picture" style="display:none;" multiple/>
            </label>
            <span asp-validation-for="Input.Picture" class="text-danger"></span>
        </div>
    </div>
    <div class="row top-margin">
        <div class="col-md-4" style="margin:10px 0 0 auto;">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Input.UserName" class="form-control" />
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input asp-for="Input.Email" class="form-control" />
                    <span class="input-group-addon" aria-hidden="true"><span class="text-success"></span></span>
                </div>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.City" class="form-control" placeholder="City..." value="@user.City" />
            </div>
            <div class="form-group">
                <input asp-for="Input.State" class="form-control" placeholder="State..." value="@user.State" />
            </div>
            <div class="form-group">
                <input asp-for="Input.ZipCode" class="form-control" placeholder="ZipCode..." value="@user.ZipCode" />
                <span asp-validation-for="Input.ZipCode" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4" style="margin:0 auto 0 0;">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <div class="form-inline">
                    <input asp-for="Input.FirstName" class="form-control" style="width: 45%; margin-right: 10%;" placeholder="First..." />
                    <input asp-for="Input.LastName" class="form-control" style="width: 45%;" placeholder="Last..." />
                </div>
            </div>
            <div class="form-group">
                <input type="date" asp-for="Input.BirthDate" class="form-control" value="@user.BirthDate.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.Age" class="form-control" placeholder="Age..." value="@user.Age" />
                <span asp-validation-for="Input.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <textarea asp-for="Input.Profile" class="form-control" placeholder="Write something about yourself! Up to 255 characters..." value="@user.Profile"></textarea>
                <span asp-validation-for="Input.Profile" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row text-center" style="margin:15px auto;">
        <div class="col-md-8" style="margin:0 auto;">
            <button id="update-profile-button" type="submit" class="btn btn-primary" style="width:100%;">Save</button>
            <a asp-area="Identity" asp-page="/Account/Manage/DeletePersonalData" class="btn btn-danger" style="margin-top:15px;width:100%;">Delete Account</a>
        </div>
    </div>
    <!-- <div class="row" style="margin:30px auto;">
        <div class="col-xs-8" style="margin:0 15px 0 auto;">
            <label class="switch">
                <input id="dark-mode" type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
    </div> -->
</form>