@model IEnumerable<Rikku.Data.ApplicationUser>
@using Rikku.Data
@using Rikku.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var you = await UserManager.GetUserAsync(User);
}

<div class="container">
<form asp-controller="Home" asp-action="Admin" method="get">
    <div class="row" style="position: fixed; top: 70px;width: 330px;">
        <div class="input-group">
            <input class="form-control" id="search" type="text" name="SearchString" placeholder='Search...' />             
        </div>
    </div>
</form>
<div class="container" style="height:100%; overflow-y: scroll;padding-top:100px;">
    @foreach (var user in Model)
    { 
    <div class="row" style="margin-top:10px;">
        <a class="btn btn-link" style="font-size: 18px;" data-toggle="modal" href="@("#EditModal" + user.Id)"><img class="img-user-navbar" src="@user.Picture" style="margin-right: 10px;" /> @user.Email</a>
        <div class="modal fade top-margin" id="@("EditModal" + user.Id)" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content text-center">
                @using (Html.BeginForm("EditUserRole", "Home"))
                {
                    <input type="hidden" value="@user.Id" name="Id" />
                    <div class="modal-header">
                        <h4 class="modal-title">Edit User Role</h4>
                        <button type="button" class="close pull-right" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p class="text-left" style="font-size:18px;">
                            @if (user.FirstName != null || user.LastName != null) 
                            {
                                <span>@user.FirstName @user.LastName</span><br/>
                            }
                            else 
                            {
                                <span>(no name provided)</span><br/>
                            }
                        @user.Email<br/>
                        Current Role: @user.RoleName</p>
                        <p>Assign a role?</p>
                        <button id="AdminBtn" type="submit" class="btn btn-primary" name="role" value=1>ADMIN</button>
                        <button id="SuperUserBtn" type="submit" class="btn btn-primary" name="role" value=2>SUPERUSER</button>
                        <button id="UserBtn" type="submit" class="btn btn-primary" name="role" value=3>USER</button>
                        <p style="margin-top:5px;">Ban or delete?</p>
                        <button id="BlockBtn" type="submit" class="btn btn-warning" name="role" value=4>BAN</button>
                        <button id="DeleteBtn" type="submit" class="btn btn-warning" name="role" value=5>DELETE</button>
                    </div>
                }
                </div>
            </div>
        </div> 
    </div>
    }
    @if (!Model.Any())
    {
        <div class="row top-margin">
            <div class="col-xs-10" style="margin: 0 auto;">
                <strong>There's nobody like that here.</strong>
            </div>
        </div>
    }
</div>
</div>
