@model IEnumerable<Rikku.Models.ApplicationUserViewModel>
@using Rikku.Data
@using Rikku.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}
<div class="container">
    <form asp-controller="Home" asp-action="Friends" method="get">
        <div class="row search-wd">
            <input class="form-group input-group message-input-friend" id="search" type="text" name="SearchString" placeholder='Search...' />
        </div>
    </form>
    <div class="container">                        
        @foreach (var users in Model) 
        {
            <a asp-action="Profile" asp-route-id="@users.Id">
                <div class="row" style="padding-left:15px;margin-bottom:10px;">
                    <div class="col-xs-5">
                        <img class="user-img-md" src="@users.Picture" style="border-radius:50%;margin-right: 10px;width:70px;height70px;">
                    </div>
                    <div class="col-xs-7">
                        <span style="font-size: 18px;">@users.UserName</span> <br/>
                        <span style="font-size: 16px;">@users.City, @users.State</span>
                    </div>
                </div>
            </a>
        }
        @if (!Model.Any())
        {
            <div class="row">
                <div class="col-xs-10" style="margin: 0 auto;">
                    <strong>There's nobody like that here.</strong>
                </div>
            </div>
        }
        </div>
    </div>
</div>
