@model IEnumerable<Rikku.Data.ApplicationUser>
@using Rikku.Data
@using Rikku.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="container home-index-container">                        
        @foreach (var users in Model) 
        {
            <div class="user-snippet-container">
                <a asp-action="Profile" asp-route-id="@users.Id">
                    <div class="row user-snippet-row-main">
                        <div class="col-xs-5">
                            <img class="user-img-md" src="@users.Picture">
                        </div>
                        <div class="col-xs-7">
                            <span style="font-size: 18px;">@users.UserName</span> <br/>
                            <span style="font-size: 16px;">@users.City, @users.State</span>
                        </div>
                    </div>
                    <div class="row user-snippet-row-secondary">
                        <span>@users.Profile</span>
                    </div>
                </a>
            </div>
        }
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <img src="~/icons/chocobo/chocobo-crystal.png">
        <div class="form-group">
            <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Log in</a>
            <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </div>
        <h3 class="ffapp">ffapp</h3>
        <div>
            <p>Explore and chat with the Final Fantasy characters you love! Or chat with others that enjoy the same characters as you! In this beta version there's no machine learning to analyze the messages you send to characters and predict their responses. But that's coming next!</p>
            <p>Also, this app was designed to be used on your phone. If you're using Safari on iOS you can add it to your home screen and use it just like a native app. You can do so using Chrome on Android, too. And you may even get prompted to do so.</p>
        </div>
    </div>
}

