@model Rikku.Data.ApplicationUser
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}

<div class="row text-center" style="height:150px;margin:0;">
    <img id="img-output-wallpaper" style="height:150px;width:100%;" src="@Model.Wallpaper" style="cursor:pointer;">
    <div class="col-md-4" style="margin: -150px auto 0 auto;">
        <img class="user-img-lg bottom-margin" src="@Model.Picture" title="Picture of user!">
        @using(Html.BeginForm("AddFriend", "Home"))
        {
            <div class="row">
                <input id="id" type="hidden" name="id" value="@Model.Id" />
                <button style="border:none!important;font-size:30px;position:absolute;bottom:20px;right:80px;background-color:transparent!important;">
                @if(ViewBag.IsFriend == 1)
                {
                    <i class="fas fa-heart text-danger"></i>
                }
                else
                {
                    <i class="far fa-heart text-danger"></i>
                }
                </button>
            </div>
        }
    </div>
</div>
<div class="row top-margin" style="margin:80px 0 0 0;">
    <div class="col-md-4" style="margin:0 0 10px 0;">
        <h3 class="text-center">@Model.UserName</h3>
        <h5 class="text-center">@Model.City, @Model.State</h5>
        <h5></h5>
        <h5 style="margin: 20px 0;">@Model.Profile</h5>
        <h5></h5>
    </div>
</div>

<div class="row text-center" style="margin:0 0 50px 0;">
    <a class="btn btn-primary" style="width:45%;margin:0 5px 0 auto;" data-toggle="modal" href="@("#newMessageModal")">Message</a>
    <a class="btn btn-secondary" style="background-color:#6c757d!important;width:45%;margin:0 auto 0 5px;" onclick="window.history.go(-1); return false;">Go Back</a>
    @if(ViewBag.IsFriend == 1)
    {
        @using(Html.BeginForm("DeleteFriend", "Home"))
        {
            <div class="row text-center" style="margin:50px auto;width:100vw;">
                <input id="id" type="hidden" name="id" value="@Model.Id" />
                <span style="margin:0 auto;">
                    <button style="border:none!important;font-size:15px;background-color:transparent!important;">
                        <i class="fas fa-heart-broken text-danger" style="font-size:30px;" aria-hidden="true"></i>
                    </button> Remove friend?
                </span>
            </div>
        }
    }
    <div class="modal fade top-margin" id="@("newMessageModal")" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                @using(Html.BeginForm("SendMessage","Message"))
                {
                    <div class="modal-body">
                        <img style="border-radius:50%;height:100px;width:100px;margin-bottom:50px;" src="@Model.Picture" title="Picture of user!">
                        <input id="receiver-id" type="hidden" name="id" value="@Model.Id" />
                        <input name="content" class="form-group input-group message-input-profile" placeholder="Type message here..." style="border-radius:25px!important;" />
                        <button type="button" class="btn btn-secondary" style="color:#ffffff;position:absolute;right:30vw;bottom:5px;" data-dismiss="modal">Cancel</button> 
                        <button class="btn btn-primary" style="position:absolute;right:50vw;bottom:5px;">Send</button>
                        <div class="bottom-margin">&nbsp;</div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
